/* Variables for consistent styling */
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/* Color Variables */
$primary: #d18067;
$primary-dark: #b16750;
$primary-light: #f6f3f2;

$secondary: #4e25e4;
$secondary-dark:#20028d;
$secondary-light: #673dff;

$grey: #666666; /* General text color */
$dark-grey: #202020; /* For headings */
$light-grey: #f5f5f5; /* Light grey background */

/* Font Size Variables */
$font-size-mobile-h1: 48px;
$font-size-mobile-h2: 40px;
$font-size-mobile-h3: 32px;
$font-size-mobile-body: 16px;

$font-size-desktop-h1: 64px;
$font-size-desktop-h2: 56px;
$font-size-desktop-h3: 40px;
$font-size-desktop-body: 18px;

/* Spacing Variables */
$horizontal-gap: 80px;
$section-spacing: 56px;
$gap-mobile: 24px;
$gap-desktop: 32px;
$padding-mobile: 16px;
$padding-desktop: 32px;