// Variables for consistent styling */
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// Font size variables mapping
$font-sizes: (
  h1: (mobile: 48px, desktop: 64px),
  h2: (mobile: 36px, desktop: 48px),
  h3: (mobile: 24px, desktop: 32px),
  body: (mobile: 16px, desktop: 18px),
  small: (mobile: 14px, desktop: 16px)
);

// Color Variables
$primary: #be6e56;
$primary-dark: #b16750;
$primary-light: rgb(246, 243, 242);

$secondary: #4e25e4;
$secondary-dark:#20028d;
$secondary-light: #673dff;

$grey: #575757; /* General text color */
$dark-grey: #202020; /* For headings */
$light-grey: #f5f5f5; /* Light grey background */

//Spacing mapping

$spacing: (
    xxs:(mobile: 4px, desktop: 8px),
    xs: (mobile: 8px, desktop: 16px),
    small: (mobile: 16px, desktop: 24px),
    medium: (mobile: 24px, desktop: 32px),
    large: (mobile: 32px, desktop: 40px),
    xl: (mobile: 40px, desktop: 48px),
    xxl: (mobile: 48px, desktop: 56px),
);

