/* Variables for consistent styling */
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/* Colors */
$primary-color: #b76349;
$secondary-color: #2900bb;
$text-color: #5f5f5f;
$dark-gray: #333;
$light-gray: #666;
$color-black: #000000;
$color-dark: #202020;
$bg-light: #fdf4f1;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 56px;

/* Mobile font sizes */
$font-size-mobile-small: 18px;
$font-size-mobile-medium: 28px;
$font-size-mobile-large: 44px;
$font-size-mobile-xlarge: 55px;
$font-size-mobile-xxlarge: 69px;

/* Desktop font sizes */
$font-size-desktop-small: 18px;
$font-size-desktop-medium: 32px;
$font-size-desktop-large: 48px;
$font-size-desktop-xlarge: 56px;
$font-size-desktop-xxlarge: 90px;