@import 'variables';
@import 'mixins';

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography and text styles */
body {
  font-family: $font-family;
  background-color: $primary-light;
}

ul {
    list-style-type: none;
}

h1 {
    @include responsive-typography(h1, medium, $dark-grey);
}
  
  h2 {
    @include responsive-typography(h2, medium, $dark-grey);
}
  
  h3 {
    @include responsive-typography(h3, normal, $dark-grey);
}
  
  p {
    @include responsive-typography(body, normal, $grey);
}

  a {
    @include responsive-typography(body, normal, $dark-grey);
}
  

main {
    margin-top: 68px; //moving the content below so it doesn't overlap with the fixed navbar
}

#sign-up-header {
    margin-top: 68px; //sign up is the only page where the h1 is out of the main section 
}


/* Navigation Bar */
.navbar {
    background-color: $primary-light;
    @include responsive-spacing(small, padding-left);
    @include responsive-spacing(small, padding-left);
}

/* spacing sections */
section {
    @include responsive-spacing(xl, margin-bottom);
}

/* placing elements in the hero section */
#plane-pic {
  max-width: 99%;
  height: auto;
  border-radius: 8px;
  @include responsive-spacing(medium, margin-bottom);
}

.hero-text-container > * {
    @include responsive-spacing(medium, margin-bottom);
}

/* buttons styling, includes BEM modifiers */
.CTAbutton {
    @include button(); // No background, default text color

    &--primary {
        @include button($primary, #fff, 8px 24px, 32px, 20px);
  }

    &--secondary {
        @include button(transparent, $secondary, 8px 16px, 4px, 16px, underline);
    }
}

/* placing elements in the get the app section with flexbox */
.get-the-app {
  display: flex;
  flex-direction: column; /* stacked elements in mobile */
  align-items: center;
  text-align: center; /* includes centering the 2 buttons because they're considered text */
  @include responsive-spacing(medium, gap); /* space between the picture and text/buttons */
  @include responsive-spacing(small, padding);
}


.image-container {
    width: 300px; /* Set the width of the container */
    perspective: 1000px; /* Adds depth to the transformation */
  }
  
.app-illustration {
    width: 100%; /* Makes the image responsive */
    transform: rotateY(15deg); /* Rotate on the Y-axis to simulate a side view */
    transform-origin: center; /* Set the pivot point to the center */
    transition: transform 0.3s ease-in-out; /* Smooth transition when hover is applied (optional) */
}

.text-and-app-buttons {
  max-width: 400px;
}

.text-and-app-buttons > * {
    @include responsive-spacing(small, margin-bottom);
}

.download-app-button {
    max-width: 240px;
    height: auto;
    @include responsive-spacing(xs, margin); /* adds spacing around buttons */
}

/* placing elements in the app features section with a grid (stacked) */

.app-features-summary {
    display: grid;
    grid-template-columns: 1fr; /* stacks all items vertically */
    @include responsive-spacing(small, gap);
    @include responsive-spacing(small, padding);
    margin: 0 auto; /* centers the content */
}

.feature {
    background: linear-gradient(346deg, $secondary-light 30%, $secondary 100%);
    border-radius: 16px;
    @include responsive-spacing(medium, padding);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    @include responsive-spacing(small, margin-bottom);
    color: $primary-light;
}

.feature p {
  color: $primary-light;
}


.general-text-section {
    @include responsive-spacing(xl, padding-top);

    & > * {
        @include responsive-spacing(small, margin-bottom);
    }
}

/* styling the forms: log in page, sign up and contact us pages */


form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    @include responsive-spacing(xxs, gap);
    @include responsive-spacing(medium, padding);
}

/* images resizing */
.picture-login-signup {
    max-width: 95%;
    height: auto;
}

/* placing elements in the footer with a grid */
.footer-links-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* creating responsive number of columns of min 140px wide and max full screen */
  @include responsive-spacing(large, gap);
  @include responsive-spacing (large, margin);
  align-items: end;
  padding: 0; /* removing default padding */
}

.footer-link {
  @include responsive-typography (body, normal, $grey);
  text-decoration: none;
}


/* from tablets onwards - I've used the same breakpoint as the xxl container from bootstrap to keep it consistent */
@media (min-width: 768px) {

  /* hero section on larger screens is a grid 50/50 split */
  #hero-section {
    display: grid;
    max-width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "hero-text-container plane-pic";
    @include responsive-spacing(xxl, gap);
  }

  .hero-text-container {
    grid-area: hero-text-container;
    align-self: center;
    justify-self: right;
  }

  #plane-pic {
    grid-area: plane-pic;
    justify-self: left;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* adjusting the get the app flexbox for larger screens */
  .get-the-app {
    flex-direction: row; /* arranges elements side by side */
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  
  .image-container {
    flex: 1; /* takes 50% of the space */
  }

  .text-and-app-buttons {
    flex: 1; /* takes the other 50% of the space */
    max-width: 90%;
  }

  /* adjusting the app features summary grid for larger screens */
  .app-features-summary {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* not stacked anymore, they're responsive columns in number */
    max-width: 1200px; /* limits the container width */
  }

    //log in and sign up pages
    .picture-and-form-container {
        display: flex;
        flex-direction: row; /* arranges elements side by side */
        justify-content: space-between;
        text-align: left;
    }

    .picture-login-signup {
        max-width: 50%;
    }

}

