/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.plane-pic {
    max-width: 100%;
    height: auto;
}

/* removing some of the default styling and chanding the typography and text styles*/

a {color: #0d00ff;
    font-style: normal;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #202020;
    font-size: 32px;
}

h2 {
    color: #202020;
    font-size: 24px;
}

h3 {
    color: #202020;
    font-size: 20px;
}


